button {
    margin: 1.75rem;
    border-radius: 1.5rem;
    height: 2rem;
    border-style: none;
    color: tomato;
    font-family: "Fondamento";
}

.list-action {
    background-image: url(https://tof.cx/image/qQvTse);
    background: no-repeat;
}

.mediaBB {
    padding: 0.1rem;
    border: orange;
    border-radius: 15px;
    font-family: 'Special Elite', cursive;
}

.mediaCC {
    width:100%;
}
